/*** Main Application Stylesheet ***/

/* Import Oleo Script Font */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Definitions */
:root {
  --header-bg-color: #25242c;
  --header-bg-color-hover: #3e3d44;
  --header-text-color-primary: white;

  --sidebar-bg-color: rgb(52, 51, 59);
  --sidebar-bg-color-hover: rgb(73, 72, 78);

  --sub-header-background-primary: #4b4a53;
  --sub-header-background-hover: #636269;
  --sub-header-text-color-primary: white;

  --scrollbar-color-primary: #4d4c52;
  --scrollbar-color-hover: #5f5e64;

  --background-color-primary: #e0e0e0;

  --text-color-primary: #333333;

  /* Color Definitions */
  --color-black: black;
  --color-black-hover: #151515;
  --color-white: white;
  --color-white-hover: #ededed;
  --color-grey: #b4b4b4;
  --color-grey-dark: #828282;

  --color-red: #eb5757;
  --color-red-dark: #cf4242;
  --color-orange: #f2994a;
  --color-orange-dark: #e98034;
  --color-yellow: #f2c94c;
  --color-yellow-dark: #edac2f;
  --color-green: #27ae60;
  --color-green-dark: #2b9843;
  --color-blue: #2f80ed;
  --color-blue-dark: #2c62cd;
  --color-purple: #bb6bd9;
  --color-purple-dark: #964cc3;
  --color-pink: #f035a5;
  --color-cyan: #31c6da;
  --color-lemon: #faff00;
  --color-lime: #58d744;
}

/** General Styles **/
body {
  height: 100vh;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
  height: calc(100vh - 50px);
}

.main-content-wrapper {
  padding: 1.5rem 1.75rem;
  overflow: auto;
  height: calc(100vh - 80px);
  width: calc(100vw - 45px);
}

input:focus,
textarea:focus {
  outline: none;
}

::placeholder {
  font-style: italic;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-align: center;
}

.empty p {
  margin: 0.5rem;
}

.empty p svg {
  position: relative;
  top: 3px;
  margin: 0 0.2em;
}

.italic {
  font-style: italic;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  /* background: rgb(56, 56, 56);  */
  background: none;
  margin: 5px 0 5px 0;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color-primary);
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
  cursor: pointer;
}
