/** Mark Notes Styles **/

/* Import Oleo Script Font */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Declarations */
:root {
  --note-background-primary: white;
  --note-header-text-color: #333333;
  --note-header-text-color-hover: white;
  --note-text-color-primary: #333333;

  --note-text-color-edit: #828282;

  --note-border-color-hover: #26a7fd;

  --preview-code-block-background: rgb(241, 241, 241);

  /* Color Definitions */
  --color-black: black;
  --color-black-hover: #151515;
  --color-white: white;
  --color-white-hover: #ededed;
  --color-grey: #a1a1a1;

  --color-red: #eb5757;
  --color-red-dark: #cf4242;
  --color-orange: #f2994a;
  --color-orange-dark: #e98034;
  --color-yellow: #f2c94c;
  --color-yellow-dark: #edac2f;
  --color-green: #27ae60;
  --color-green-dark: #2b9843;
  --color-blue: #2f80ed;
  --color-blue-dark: #2c62cd;
  --color-purple: #bb6bd9;
  --color-purple-dark: #964cc3;
  --color-pink: #f035a5;
  --color-cyan: #31c6da;
}

/* General Mark Note Styles */
.marknote:hover .marknote-content {
  border-left: 1px solid var(--note-border-color-hover);
  border-right: 1px solid var(--note-border-color-hover);
  border-bottom: 1px solid var(--note-border-color-hover);
}

.marknote:hover .marknote-header {
  border-top: 1px solid var(--note-border-color-hover);
  border-left: 1px solid var(--note-border-color-hover);
  border-right: 1px solid var(--note-border-color-hover);
}

.marknote-content span {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
}

/** Editor Styles **/
.editor-main {
  height: 100%;
}

.editor-title {
  background: #5f5e64;
  color: white;
  height: 24px;
  width: fit-content;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
}

.editor-title::placeholder {
  color: white;
}

.editor-title:focus {
  outline: none;
}

.editor-content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 30px);
  outline: none;
}

/* Editor Scrollbars */
.editor-content *::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

.editor-content *::-webkit-scrollbar-thumb {
  background: var(--color-grey-dark) !important;
}

.editor-divider {
  width: 20px;
  background: #c4c4c4;
}

.editor-container {
  background: white;
  height: 100%;
  flex: 1;
}

.editor-body,
.preview-body {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.editor-body:focus {
  outline: none;
}

.editor-body .CodeMirror {
  height: 100%;
  font-size: 14px;
  padding-bottom: 10px;
  padding-right: 1em;
}

.editor-body .CodeMirror.CodeMirror-wrap pre {
  word-break: break-word;
}

.editor-container.hide,
.preview-container.hide {
  display: none;
}

/** Preview Styles **/
.preview-container {
  background: white;
  height: 100%;
  flex: 1;
}

.preview-body {
  overflow: auto;
  padding: 0.3in 0.5in;
}

.preview-body h1,
h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--color-grey);
}

.preview-body h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.preview-body h1 {
  font-size: 24px;
}

.preview-body h2 {
  font-size: 20px;
}

.preview-body p {
  margin: 0 0 0.5em 0;
}

.preview-body code {
  display: block;
  background: var(--preview-code-block-background);
  padding: 0.2em 0.4em;
  border-radius: 8px;
  box-sizing: border-box;
}

.preview-body blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 2px var(--color-grey);
}

.preview-body a {
  text-decoration: none;
}

.preview-body a:hover {
  text-decoration: underline;
}