/** Mark Notes Styles **/

/* Import Oleo Script Font */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Declarations */
:root {
  --note-background-primary: white;
  --note-header-text-color: #333333;
  --note-header-text-color-hover: white;
  --note-text-color-primary: #333333;

  --note-text-color-edit: #828282;

  --note-border-color-hover: #26a7fd;

  --preview-code-block-background: rgb(241, 241, 241);

  /* Color Definitions */
  --color-black: black;
  --color-black-hover: #151515;
  --color-white: white;
  --color-white-hover: #ededed;
  --color-grey: #a1a1a1;

  --color-red: #eb5757;
  --color-red-dark: #cf4242;
  --color-orange: #f2994a;
  --color-orange-dark: #e98034;
  --color-yellow: #f2c94c;
  --color-yellow-dark: #edac2f;
  --color-green: #27ae60;
  --color-green-dark: #2b9843;
  --color-blue: #2f80ed;
  --color-blue-dark: #2c62cd;
  --color-purple: #bb6bd9;
  --color-purple-dark: #964cc3;
  --color-pink: #f035a5;
  --color-cyan: #31c6da;
}