/** Quick Notes Styles **/

/* Import Oleo Script Font */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Declarations */
:root {
  --note-background-primary: white;
  --note-header-text-color: #333333;
  --note-header-text-color-hover: white;
  --note-text-color-primary: #333333;

  --note-text-color-edit: #828282;

  /* Color Definitions */
  --color-black: black;
  --color-black-hover: #151515;
  --color-white: white;
  --color-white-hover: #ededed;
  --color-grey: #b4b4b4;
  --color-grey-dark: #828282;

  --color-red: #eb5757;
  --color-red-dark: #cf4242;
  --color-orange: #f2994a;
  --color-orange-dark: #e98034;
  --color-yellow: #f2c94c;
  --color-yellow-dark: #edac2f;
  --color-green: #27ae60;
  --color-green-dark: #2b9843;
  --color-blue: #2f80ed;
  --color-blue-dark: #2c62cd;
  --color-purple: #bb6bd9;
  --color-purple-dark: #964cc3;
  --color-pink: #f035a5;
  --color-cyan: #31c6da;
  --color-lemon: #faff00;
  --color-lime: #58d744;
}

/* Quick Notes List Styles */

.quicknotes-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 220px;
  max-width: 100vw;

  z-index: 1;
}

/* General Quick Note Styles */
.quicknote {
  background-color: var(--note-background-primary);
  margin: 0 10px 10px 10px;
  width: 230px;
  height: fit-content;

  justify-self: center;

  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif !important;
}

.quicknote-header {
  width: 100%;
  height: 25px;
  color: var(--note-header-text-color);
  background: var(--color-grey);
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #828282;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
}

.quicknote-title {
  border: none;
  background-color: inherit;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: var(--note-header-text-color);
  width: 100%;
  margin: 0 0.5rem 0 0.5rem;
}

.quicknote-title::placeholder {
  color: var(--note-header-text-color);
}

.quicknote-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; /* keep spacing added to text */
  color: var(--note-text-color-primary);
  font-weight: 500;

  border: 1px solid #828282;
  height: calc(170px);
}

.quicknote textarea {
  border: none;
  resize: none;
  background-color: inherit;
  height: 100%;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif !important;
  color: var(--note-text-color-primary);
  font-weight: 500;
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

/* Scrollbar Styles */
.quicknote textarea::-webkit-scrollbar {
  width: 5px;
}

.quicknote textarea::-webkit-scrollbar-thumb {
  background: var(--color-grey-dark);
}

.quicknote textarea::-webkit-scrollbar-thumb:hover {
  cursor: default;
}

.quicknote-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0.5rem 3px 0.5rem;
  border-top: 1px solid #828282;
}

.quicknote-footer-left {
  display: flex;
  align-items: center;
}
