/**
 * General Site Styles
 * site.css
 */

/** Main Styles **/
body {
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
}

main {

}

/** Header Styles **/
header {
    background: black;
    color: white;
    padding: 5px 75px 5px 75px;
}

#header-banner {
    display: inline;
}

/* Navbar  */
nav {
    display: inline;
    float: right;
}

#header-nav-list {
    list-style: none;
    display: inline;
}

.header-nav-list-item {
    display: inline;
}

.button {
    width: 120px;
    height: 48px;
    border-radius: 15px;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.login-button {
    background: #6B66E6;
}

.signup-button {
    background: #EB5757;
}