/** Default Styles **/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/** Page Styles **/

:root {
    /* Header Definitions */
    --header-bg-color: #151515;
    --header-text-color: white;

    /* Background Definitions */
    --bg-color-primary: #c9c9c9;

    /* Text Color */
    --text-color-primary: black;
    --text-color-secondary: #4f4f4f;

    /* Color Definitions */
    --color-black: black;
    --color-black-hover: #151515;
    --color-white: white;
    --color-white-hover: #ededed;

    --color-red: #eb5757;
    --color-red-dark: #cf4242;
    --color-orange: #f2994a;
    --color-orange-dark: #e98034;
    --color-yellow: #f2c94c;
    --color-yellow-dark: #edac2f;
    --color-green: #27ae60;
    --color-green-dark: #2b9843;
    --color-blue: #2f80ed;
    --color-blue-dark: #2c62cd;
    --color-purple: #bb6bd9;
    --color-purple-dark: #964cc3;
}

.page-container {
    min-height: 100vh;
    background: var(--bg-color-primary);
}

/* Import Oleo Script Font */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

/* Import Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Header Styles */
header {
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: row;
    min-height: 55px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.app-title {
    color: var(--header-text-color);
    font-size: 24px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.app-logo-container {
    border-radius: 100px;
    background: linear-gradient(225deg, #f2c94c 0%, #eb5757 100%);
    height: 35px;
    width: 35px;
    display: inline-block;
}

.app-logo {
    color: var(--header-text-color);
    padding: 4px 0px 0px 5px;
}

.app-name {
    font-family: "Oleo Script";
    color: var(--header-text-color);
    margin-left: 0.75rem;
}

.home-link {
    text-decoration: none;
}

#header-nav {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav-element {
    margin: 0 0.5rem 0 0.5rem;
    transition: all 0.2s ease 0s;
}

.header-icon {
    color: var(--header-text-color);
    width: 28px;
    height: 28px;
}

.header-icon:hover {
    cursor: pointer;
    color: var(--color-white-hover);
}

.header-button {
    width: 65px;
    height: 28px;
    border-radius: 5px;
    border: none;
    color: var(--header-text-color);

    font-size: 12px;
}

.header-button:hover {
    cursor: pointer;
}

.signup-button {
    background: var(--color-blue);
}

.login-button {
    background: var(--color-red);
}

.signup-button:hover {
    background: var(--color-blue-dark);
}

.login-button:hover {
    background: var(--color-red-dark);
}

.login-button span {
    position: relative;
    bottom: 1px;
}

.login-icon {
    font-size: 14px;
    margin-left: 0.2rem;
    position: relative;
    top: 2px;
}

/** Homepage Styles **/

.body-home {
    background: linear-gradient(258.68deg, #eb5757 0%, #9b51e0 100%), #2f80ed;
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.body-content {
    align-self: center;
    height: fit-content;
    padding: 5rem 0 1rem;
}

#splash-text {
    color: white;
    font-weight: 900;
    font-size: 64px;
    margin: 0 auto 2rem auto;
    width: fit-content;
}

#splash-desc {
    color: white;
    font-weight: bold;
    margin: 0 auto 2rem auto;
    width: 550px;
    text-align: center;
}

.home-buttons-container {
    margin: 0 auto 0 auto;
    height: 125px;
    width: 300px;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons-content p {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

.home-button {
    width: 70px;
    height: 33px;
    border-radius: 5px;
    border: none;
    color: var(--header-text-color);
    margin: 0 1rem 0 1rem;
    transition: all 0.2s ease 0s;

    font-size: 12px;
}

.home-button.login-button {
    position: relative;
    top: 1px;
}

.home-button:hover {
    cursor: pointer;
}

.home-button span {
    font-size: 14px;
    font-weight: 500;
}

footer .app-name {
    font-size: 56px;
}

/** Login Page Styles **/
.body-login {
    background: linear-gradient(258.68deg, #f2994a 0%, #9b51e0 100%), #2f80ed;
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-container {
    background-color: white;
    width: 300px;
    height: 380px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

.login-content h1 {
    font-weight: 900;
    font-size: 24px;
    width: fit-content;
    margin: 0 auto 1rem auto;
}

.login-form {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, 30px);
    grid-row-gap: 0.5rem;
}

.login-form label {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color-secondary);
    align-self: end;
}

#username-label {
    grid-column: 1/3;
    grid-row: 1;
}

#username {
    grid-column: 1/3;
    grid-row: 2;
}

#password-label {
    grid-column: 1/3;
    grid-row: 3;
}

#password {
    grid-column: 1/3;
    grid-row: 4;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.75rem 0 0.75rem;

    width: 306px;
    height: 36px;
    left: 807px;
    top: 351px;

    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
}

#login-submit {
    height: 40px;
    grid-column: 1/3;
    grid-row: 5;
    margin-top: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background: var(--color-blue);
    transition: all 0.2s ease 0s;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

#login-submit:hover {
    background: var(--color-blue-dark);
    cursor: pointer;
}

#signup-link,
#signup-link:visited {
    font-weight: 800;
    font-size: 16px;
    color: var(--text-color-primary);
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

#signup-link:hover {
    color: var(--text-color-secondary);
}

/** Signup Page Styles **/
.body-signup {
    background: linear-gradient(258.68deg, #f2994a 0%, #9b51e0 100%), #2f80ed;
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signup-container {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

.signup-content h1 {
    font-weight: 900;
    font-size: 24px;
    width: fit-content;
    margin: 0 auto 1rem auto;
}

.signup-form {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(9, 30px);
    grid-row-gap: 0.5rem;
}

.signup-form label {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color-secondary);
    align-self: end;
}

#signup-username-label {
    grid-column: 1/3;
    grid-row: 1;
}

#signup-username {
    grid-column: 1/3;
    grid-row: 2;
}

#signup-email-label {
    grid-column: 1/3;
    grid-row: 3;
}

#signup-email {
    grid-column: 1/3;
    grid-row: 4;
}

#signup-password-label {
    grid-column: 1/3;
    grid-row: 5;
}

#signup-password {
    grid-column: 1/3;
    grid-row: 6;
}

#signup-confirm-password-label {
    grid-column: 1/3;
    grid-row: 7;
}

#signup-confirm-password {
    grid-column: 1/3;
    grid-row: 8;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.75rem 0 0.75rem;

    width: 306px;
    height: 36px;
    left: 807px;
    top: 351px;

    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 5px;
}

#signup-submit {
    height: 40px;
    grid-column: 1/3;
    grid-row: 9;
    margin-top: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background: var(--color-blue);
    transition: all 0.2s ease 0s;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

#signup-submit:hover {
    background: var(--color-blue-dark);
    cursor: pointer;
}

#login-link,
#login-link:visited {
    font-weight: 800;
    font-size: 16px;
    color: var(--text-color-primary);
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

#login-link:hover {
    color: var(--text-color-secondary);
}
